<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Lucky_Microdata>
            <version>1.0.0</version>
        </Lucky_Microdata>
    </modules>

    <global>
        <blocks>
            <lucky_microdata>
                <class>Lucky_Microdata_Block</class>
            </lucky_microdata>
        </blocks>

        <models>
            <lucky_microdata>
                <class>Lucky_Microdata_Model</class>
            </lucky_microdata>
            
            <cms>
                <rewrite>
                    <template_filter>Lucky_Microdata_Model_Cms_Template_Filter</template_filter>
                </rewrite>
            </cms>
        </models>

        <helpers>
            <lucky_microdata>
                <class>Lucky_Microdata_Helper</class>
            </lucky_microdata>
        </helpers>
        
        <cms>
            <page>
                <tempate_filter>cms/template_filter</tempate_filter>
            </page>
        </cms>
    </global>
    
    <frontend>
        <layout>
            <updates>
                <default>
                    <file>microdata.xml</file>
                </default>
            </updates>
        </layout>
    </frontend>
</config>
